<html>
  <head>
    <title>Mass Donate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <style>
      .sign-content{
        min-height: 95vh;
      }

      .body{
        padding: 0;
      }
    </style>
  </head>
  <body>
    <nav class="blue">
      <div class="navbar-wrapper">
        <a href="#" class="brand-logo" style="padding-left:10px">HandsForRelief</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#about">About</a></li>
          <li><a href="contact" >Sign Up</a></li>
          <li><a href="disasters">Disasters</a></li>
        </ul>
      </div>
    </nav>
    <div class="sign-content deep-orange lighten-5">
      <div class="container">
        <div class="row">
          <h3 class="col s7 offset-s3">Sign Up to Support</h3>
        </div>
      </div>
      <div class="row">
        <form class="col s12" method="post" action= "/info">
          <div class="input-field col s12">
            <input id="name" type="text" name="name" class="validate">
            <label for="name">Name</label>
          </div>
          <div class="input-field col s12">
            <input id="phone" type="text" name="phone" class="validate">
            <label for="phone">Phone</label>
          </div>
          <div class="input-field col s12">
            <input id="address" type="text" name="address" class="validate">
            <label for="address">Address</label>
          </div>
          <div class="input-field col s12">
            <input id="email" type="text" name="email" class="validate">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12">
            <input id="city" type="text" name="city" class="validate">
            <label for="city">City</label>
          </div>
          <div class="input-field col s12">
            <input id="fb" type="text" name="fb" class="validate">
            <label for="fb">Link to your facebook</label>
          </div>
          <button class="waves-effect waves-light btn col s2 offset-s5" type='submit' name='action'>Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
