<div class="sign-content">
  <div class="container">
    <div class="row">
      <h3 class="col s7 offset-s3">Sign Up to Support</h3>
    </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
        <input id="name" type="text" class="validate">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s12">
        <input id="phone" type="text" class="validate">
        <label for="phone">Phone</label>
      </div>
      <div class="input-field col s12">
        <input id="address" type="text" class="validate">
        <label for="address">Address</label>
      </div>
      <div class="input-field col s12">
        <input id="email" type="text" class="validate">
        <label for="email">Email</label>
      </div>
      <div class="input-field col s12">
        <input id="fb" type="text" class="validate">
        <label for="fb">Link to your facebook</label>
      </div>
      <a class="waves-effect waves-light btn col s2 offset-s5">Submit</a>
    </form>
  </div>
</div>
