<html>
  <head>
    <title>Mass Donate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link rel="stylesheet" href="css/main.css"/>
  </head>
  <body>
    <nav>
      <div class="navbar-wrapper">
        <a href="#" class="brand-logo">MassDonate</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="about.html">About</a></li>
          <li><a href="contact" >Sign Up</a></li>
          <li><a href="disasters">Disasters</a></li>
        </ul>
      </div>
    </nav>
    <div class="main-content">
      <div class="valign-wrapper row" id="pic">
          <h2 class="valign col s4 offset-s4">MassDonate</h2>
      </div>
    </div>

    
  </body>
</html>
