<html>
  <head>
    <title>Mass Donate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <style>
      #back{
        min-height:95vh;
        background-image: url('../images/lightning.jpg');
        background-size: cover;
      }

      .main-content, #big{
        min-height: 90vh;
      }

      .info{
        min-height: 100vh;
      }

      .body{
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
      $('a').click(function() {
          var href = $.attr(this, 'href');
          $root.animate({
              scrollTop: $(href).offset().top
          }, 3000, function () {
              window.location.hash = href;
          });
          return false;
      });
    </script>
  </head>
  <body>
    <nav>
      <div class="navbar-wrapper">
        <a href="#" class="brand-logo">MassDonate</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="#about">About</a></li>
          <li><a href="contact" >Sign Up</a></li>
          <li><a href="disasters">Disasters</a></li>
        </ul>
      </div>
    </nav>
    <div class="main grey lighten-3" id="back" style="padding:0;margin:0">
			<div class="container" style="padding-top:25vh">
				<div class="text">
					<h1 id="name" class="name center-align animated bounceInDown white-text">massDonate</h1>
				</div>
				<div class="center-align">
					<a href="#about" id="move" class="waves-effect waves-light btn animated">Learn More</a>
				</div>
			</div>
		</div>
    <a id="about" style="padding:0;margin:0;"></a>
    <div class="info blue lighten-1" style="padding:20px;margin:0;">
      <h2 style="padding-left:30px">Info</h2>
      <div class="content" style="padding-left:20px">
        <h5 style="padding-top:30px;">What do we do?</h5>
        <hr>
        <h6 style="padding-bottom:30px;">We organize donation pickup and help people in needy zones.</h6>
        <h5 style="padding-top:30px;">How does it work?</h5>
        <hr>
        <h6 style="padding-top:30px;">We organize for volunteers to pick up donations if you are too lazy to do drop it off yourself</h6>
        <h5 style="padding-top:30px;">Sounds Great!</h5>
        <hr>
        <a href="contact" class="waves-effect waves-light btn animated">Sign Up</a>
      </div>
    </div>


  </body>
</html>
