<html>
  <head>
    <title>Thanks!</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  </head>
  <body>
    <div class="main blue" style="min-height:100vh">
			<div class="container" style="padding-top:25vh">
				<div class="text">
					<h1 id="name" class="name center-align animated">Thanks!</h1>
					<h4 id="descrip" class="center-align animated">You're helping make a difference one contribution at a time.</h4>
				</div>
			</div>
		</div>
  </body>
</html.
